body {
          background-image: url(https://cdn.pixabay.com/photo/2016/02/10/16/37/cat-1192026__480.jpg);
          border:10px;
          padding: 20px;
          background-repeat:no-repeat;
          background-size:cover; 
        }
          

       h1 {
          background-color: #050a51;
          color: floralwhite;
          text-align: center;
          padding: 15px;
          border-bottom:10px solid red;
          border-top:10px solid red ;
          margin:0px 0;
          /*height*/
          overflow:scroll;
          width: 75%;
          font-family: 'Combo', cursive;

         } 

      
        img{ 
        border:4px solid #050a52;
        padding:0px 0px;
        border-radius:50px;
        max width:100%;
        height: auto;
        }
      
      main {
          background-color:rgb(5, 10, 82,.3);
          padding: 20px;
          width: 75%;
          margin: 0 auto; /*centers block element*/
          font-size:1.5rem;
          font-family: 'Combo', cursive;

        }

      a {
          color: yellow;
        }

      footer{font-family: 'Combo', cursive;
          background-color: blue;
        color: pink;}

      h2{
          color: darkblue ;
         }
      h3{
          color: darkblue;
         }
      button{ color: darkred; 
         }
      label{ color:darkblue;
        
