body { 
	background-color: tan;
	line-height: 1.9em;
	font-size: 15px;

}

#navbar {
	postion:absolute;
	min-width: 200px;
	top: 0px;
	left:0px;
	width: 70px;
	height: 100%;
	background-color:ivory;
	color: black;
}


header{ 
	color: saddlebrown;
	margin: 10px;
	text-align:left;
	font-size: 1.8em;
	font-weight: thin;
}

#main-doc{
	text-align: left;
	margin: 0px;
	margin-bottom: 100px;
	padding: 20px;
	postion: absolute;
	font-size: 19px;
	left: 600px;
	top: 0;
}

nav{ 
	position:fixed;
	display: flex;
	flex-direction:column;
}
#navbar ul{
	height: 85%;
	padding: 0;
	
}
#navbar li{
	color: black;
	border-top: 1px solid;
	postion:relative;
	width: 100%;
	
}
#navbar a { 
	display:block;
	padding: 10px;
	color: black;
	padding-left: 10px;
}

a:hover{
	color:lightblue
}

code{
	display: block;
	text-align: left;
	postion: relative;
	padding: 15px;
	margin: 10px;
	border-radius:5px;
	background-color: navajowhite;
	width:300px;
}


@media  (max-width: 780px) {
  
  #navbar ul {
  
    height: 205px;
    
  }

  #navbar {
    background-color:ivory;
    position:absolute;
    top: 0;
    margin: 0;
    width: 100px;
    max-height: 280px;
    border: none;
    z-index: 1;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
	left: 0;
  }
}

@media (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
	left: 0;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;

  }
}
	
	
	
